<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WLQL39J');
    </script>
    <!-- End Google Tag Manager -->
    <title>Vue drop-down-tree template Example - Syncfusion Demos</title>
    <meta name="description" content="This example demonstrates the template in Vue drop-down-tree Component. Explore here for more details." />
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <link rel="shortcut icon" href="https://ej2.syncfusion.com/home/favicon.ico" />
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
    <link href="../../opennew.css" rel="stylesheet">
    <link href=./main.bundle.js rel=preload as=script>
    <link href=../vendors.bundle.js rel=preload as=script>
</head>

<body><noscript><strong>We're sorry but my-project doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>

    <div class="sample-browser">
        <div id="sample-header" class="sb-header" role="banner">
            <div class="sb-header-left sb-left sb-table">
                <div class="sb-header-item sb-table-cell">
                    <div class="header-logo">
                        <a href="#" target="" rel="noopener noreferrer">
                        </a><a href="https://ej2.syncfusion.com/home/vue.html" target="" rel="noopener noreferrer">
                            <div class="footer-logo"> </div>
                        </a>
                    </div>

                </div>
                <div class="sb-header-splitter sb-download-splitter"></div>
                <div class="sb-header-item sb-table-cell">
                    <div id="sb-header-text" class="e-sb-header-text">

                        <span class="sb-header-text-left">Essential Studio for Vue</span>
                    </div>
                </div>
            </div>
            <div class="sb-header-right sb-right sb-table">
                <div class="sb-header-item sb-table-cell">
                    <div class="product-style">
                        <div>
                            <a href="https://www.syncfusion.com/products/vue/">PRODUCT DETAILS</a>
                        </div>
                    </div>
                </div>
                <div class="sb-header-item sb-table-cell">
                    <div class="sb-header-item sb-table-cell sb-download-wrapper">
                        <a href="https://www.syncfusion.com/downloads/essential-js2" target="_blank">
                            <button id="download-now" class="sb-download-btn">
                                <span class="sb-download-text">Download</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h1 class="sb-bread-crumb-text">Example of template in Vue drop-down-tree Component</h1>
    <div id=app></div>

    <div class="sb-footer">
        <div class="sb-footer-left">
            <div class="sb-footer-links">
                <a href="https://ej2.syncfusion.com/documentation/" target="_blank">
                    <div class="sb-footer-link">Documentation</div>
                </a>
                <a href="https://www.syncfusion.com/forums/essential-js2" target="_blank">
                    <div class="sb-footer-link">Forum</div>
                </a>
                <a href="https://syncfusion.com/blogs" target="_blank">
                    <div class="sb-footer-link">Blog</div>
                </a>
                <a href="https://www.syncfusion.com/kb" target="_blank">
                    <div class="sb-footer-link">Knowledge Base</div>
                </a>
            </div>
            <div class="sb-footer-copyright">Copyright © 2001-2020 Syncfusion Inc.</div>
        </div>
        <div class="sb-footer-logo">
            <a href="https://www.syncfusion.com/" target="_blank">
                <div class="sb-footer-logo-icon"></div>
            </a>
        </div>
    </div>
    </div>
    </div>

    <script src="../vendors.bundle.js"> </script>
    <script src="./main.bundle.js"> </script>
</body>

</html>