.image { position: absolute; background-repeat: no-repeat; 
    background-image: url('/scripts/Images/Employees/spinner.gif'); 
    background-position: center; width: 16px; height: 28px; }

.e-bigger .image {
height: 36px;
}

#popup {
position: absolute;
background-color: transparent;
display: none;
z-index: 100;
}
.div-button {
   margin: 5px 5px 5px 0;
}