.fluent2-dark .sb-content,
.fluent2-dark textarea#ruleContent{
    background: #1f1f1f;
}
.fluent2-dark .sb-left-pane .e-listview .e-list-item.e-active:hover {
    background-color: #333;
    color: #fff;
}
.fluent2-dark .sb-left-pane .e-treeview .e-list-item.e-hover>.e-text-content .e-list-text {
    color: #000;
}
.fluent2-dark .sb-content-tab .e-content.sb-sample-content-area {
	background: transparent;
}
.fluent2-dark .sb-content-tab .e-tab-header.e-horizontal-bottom {
    border-radius: 0 0 12px 12px;
}
.fluent2-dark .sb-content-tab .e-tab-header.sb-content-tab-header {
    border-radius: 12px 12px 0 0;
}
.fluent2-dark #sb-content {
    border-radius:12px;
}
body.fluent2-dark,
.fluent2-dark .sb-home,
.fluent2-dark #sb-header-text,
.fluent2-dark .sb-component-name,
.fluent2-dark .sb-left-pane .e-listview .e-list-group-item,
.fluent2-dark .sb-switch-popup a {
    color: #fff;
}

.fluent2-dark .sb-header {
    background: #292929;
}

.fluent2-dark .sb-content-tab > .e-tab.e-nested > .e-tab-header > .e-items.e-toolbar-items > .e-indicator {
   background: #479ef5;
}

.fluent2-dark #left-sidebar {
    border: none;
    background: #525252;
}
.fluent2-dark .sb-right-pane,
.fluent2-dark .sb-mobile-right-pane,
.fluent2-dark .sb-search-result .e-list-item {
    background:  #1f1f1f;
}
.fluent2-dark .hljs-string,
.fluent2-dark .hljs-title,
.fluent2-dark .hljs-section,
.fluent2-dark .hljs-attribute,
.fluent2-dark .hljs-literal,
.fluent2-dark .hljs-template-tag,
.fluent2-dark .hljs-template-variable,
.fluent2-dark .hljs-type,
.fluent2-dark .hljs-addition,
.fluent2-dark .e-icons.back-icon,
.fluent2-dark .description-header,
.fluent2-dark .sb-setting-translate,
.fluent2-dark .sample-navigation>button:hover {
    color: #115ea3;
}
.fluent2-dark .sb-theme-popup {
    border: 1px solid #666;
}
.fluent2-dark .sb-icon-Hamburger,
.fluent2-dark .control-name,
.fluent2-dark .sb-footer-links,
.fluent2-dark .sb-plnr-section,
.fluent2-dark .sb-switch-popup li:first-child,
.fluent2-dark .sb-theme-popup li.active .sb-theme-select,
.fluent2-dark .e-content .e-list-parent .e-list-group-item,
.fluent2-dark .sb-source-section .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.fluent2-dark .sb-source-section .e-tab .e-tab-header .e-toolbar-item:hover .e-tab-text,
.fluent2-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text:hover,
.fluent2-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-text {
    color: #479EF5;
}
.fluent2-dark .sb-header-item .sb-icon-Dropdown,
.fluent2-dark .sb-control-navigation .sb-icon-Back,
.fluent2-dark .sample-navigation {
    color: #d6d6d6;
}

.fluent2-dark .sb-home-text,
.fluent2-dark .sb-icon-Home,
.fluent2-dark .sb-bread-crumb .sb-bread-crumb-text>div {
    color: #adadad;
}
.fluent2-dark .sb-icon-Popout {
    color: #dadada;
}
.fluent2-dark .sb-icon-Hamburger:active{
    color:white;
}
.fluent2-dark .sb-switch-popup,
.fluent2-dark .sb-content-section,
.fluent2-dark .sb-content-tab-header,
.fluent2-dark .sb-content-section .sb-content-tab-header {
    background: #1f1f1f;
    border-color: #525252;
}
.fluent2-dark .sample-navigation>button:hover,
.fluent2-dark .sb-icon-Popout:hover,
.fluent2-dark .sb-footer-links a,
.fluent2-dark .description-section a {
   color: #479ef5;
}
.fluent2-dark .sb-content-tab > .e-tab.e-nested > .e-tab-header > .e-items.e-toolbar-items > .e-toolbar-item > .e-tab-wrap > .e-text-wrap > .e-tab-text {
   color: #D6D6D6;
}
.fluent2-dark code,
.fluent2-dark .sb-setting-popup,
.fluent2-dark .sb-search-result,
.fluent2-dark .sb-src-code,
.fluent2-dark .sb-api-section,
.fluent2-dark .copy-tooltip,
.fluent2-dark .e-icons.copycode,
.fluent2-dark #search-input-wrapper input,
.fluent2-dark #search-input-wrapper input::placeholder {
    color: #ffffff;
    background: #2B2831;
}
.fluent2-dark .sb-theme-popup,
.fluent2-dark .sb-switch-popup {
    color: #fff;
    background: #1f1f1f;
}
.fluent2-dark .sb-search-btn:hover,
.fluent2-dark .sb-search-btn.active,
.fluent2-dark .sb-setting-btn:hover,
.fluent2-dark .sb-setting-btn.active,
.fluent2-dark .sb-switch-popup li:hover,
.fluent2-dark .theme-wrapper:hover,
.fluent2-dark .theme-wrapper.active,
.fluent2-dark .sb-theme-popup li:hover,
.fluent2-dark .sb-search-result .e-list-item:hover,
.fluent2-dark .sb-left-pane .e-listview .e-list-item:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.fluent2-dark .setting-responsive .sb-responsive-items {
    width: 104px;
    background-color: #363636;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: table-cell;
    cursor: pointer;
}
.fluent2-dark .setting-responsive .sb-responsive-items.active {
    background-color: #479ef5;
    color: #1f1f1f;
}
.fluent2-dark .sb-left-pane .e-listview .e-list-item.e-active {
    background:#2e2e2e;
    color: #fff;
}
.fluent2-dark .cont {
    background-color:#115ea3;
}
.fluent2-dark .sb-left-pane .e-listview .e-list-item:hover{
    background: #333;
    color:#fff;
}

.fluent2-dark .sb-left-pane,
.fluent2-dark .sb-body-overlay {
    background:  #1f1f1f;
}

.fluent2-dark .sb-mobile-left-pane{
    background:  linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08)), #1C1B1F;
}
.fluent2-dark .sb-mobilefooter>.e-btn.e-flat {
    background:  #2B2831;
    color: #fff;
}
.fluent2-dark .sb-mobilefooter>.e-btn.e-flat:hover {
    color: #115ea3;
}
.fluent2-dark .sb-header-text-left,.fluent2-dark .sb-header-text-right,.fluent2-dark .sb-reset-icon {
    color:#ffffff;
}
.fluent2-dark .e-samplestatus.new.tree, .fluent2-dark .e-samplestatus.update.tree,.fluent2-dark .e-samplestatus.preview.tree {
    margin: 4px 0;
    height: 22px;
    padding: 2px 4px;
}

.fluent2-dark .e-samplestatus.new,.fluent2-dark .e-samplestatus.update,.fluent2-dark .e-samplestatus.preview{
    margin: 4px;
    height: 22px;
    padding: 2px 4px;
}

.fluent2-dark .sb-reset-icon:before {
    content: '\e7e7';
}
.fluent2-dark .sb-left-pane .e-treeview .e-list-item.e-hover > .e-fullrow {
    background-color: #333;
	border: none;
}
.fluent2-dark .sb-left-pane .e-treeview .e-list-item.e-active > .e-fullrow {
    background-color: #2e2e2e;
    border: none;
}

.fluent2-dark .sb-left-pane .e-treeview .e-list-item.e-active>.e-text-content .e-list-text,
.fluent2-dark .sb-left-pane .e-treeview .e-list-item.e-hover>.e-text-content .e-list-text{
    color: #fff;
}
.fluent2-dark .sb-header-splitter,
.fluent2-dark .sb-toolbar-splitter {
    color: #525252;
}

.fluent2-dark .sb-theme-popup li .sb-theme-select {
    color:transparent;
}

.fluent2-dark #themeMode-switch-btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.fluent2-dark .sb-search-input .e-ddl .e-clear-icon {
    background: #2B2831;
}

.fluent2-dark .copycode::before {
    content: '\e77c';
    font-size: 25px;
}

.fluent2-dark .CodeMirror-gutters, .fluent2-dark .CodeMirror {
    background-color: #212529;
    color: #fff;
}

.fluent2-dark .sb-footer {
    border-top: 1px solid #525252;
}

@media (max-width: 550px) {
    .fluent2-dark #settings-popup {
        background: #1f1f1f;
    }
}

.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.New, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.new,
.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.Update, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.update,
.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.Preview, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.preview {
    font-size: 10px;
    border-radius: 2px;
    height: 24px;
    margin: 8px 6px 0 0;
}

.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.New.tree, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.new.tree,
.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.Update.tree, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.update.tree,
.fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.Preview.tree, .fluent2-dark.e-bigger .e-badge.sb-badge.e-samplestatus.preview.tree {
    font-size: 10px;
    border-radius: 2px;
    height: 24px;
    margin: 7px 5px 0 0;
}
.fluent2-dark .sb-property-border {
    border-right: 1px solid #525252;
}
.fluent2-dark .sb-theme-studio {
    border-top: 1px solid #666;
}
