.fluent-dark .sb-theme-select {
    color: transparent;
}

.fluent-dark .copycode::before {
    content: '\e77c';
    font-size: 25px;
}

.fluent-dark .sb-content-tab .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    margin: 0px 8px 0 0 !important;
}

.fluent-dark #msg {
    color: #F1F1F1 !important;
}

.fluent-dark .sb-content-tab>.e-tab>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    display: none !important;
}
.fluent-dark .sb-search-input .e-ddl .e-clear-icon {
    background-color: #212529;
}

/*fluent-dark */
.fluent-dark .sb-plnr-section,
.fluent .sb-plnr-section {
    line-height: 25px;
    height: 30px;
}

.fluent-dark .sample-navigation,
.fluent-dark .sb-open-new-wrapper {
    line-height: 33px;
}

.fluent-dark .sb-content,
.fluent-dark textarea#ruleContent,
.fluent-dark .sb-search-result .e-list-group-item {
    background: #1b1a19;
}

.fluent-dark .sb-home {
    color: #ffffff
}

.fluent-dark .sb-left-pane .e-listview .e-list-item.e-active:hover,
.fluent-dark .sb-home,
.fluent-dark .sb-reset-icon {
    color: #ffffff
}

body.fluent-dark,
.fluent-dark #sb-header-text,
.fluent-dark .control-name,
.fluent-dark .sample-navigation,
.fluent-dark .sb-icon-Popout,
.fluent-dark .sb-switch-popup a {
    color: #fff;
}

.fluent-dark .sb-header,
.fluent-dark .sb-search-result .e-list-item,
.fluent-dark .sb-search-result .e-list-group-item {
    background: #252423;
}

.fluent-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    background: #0d6efd;
}

.fluent-dark #left-sidebar {
    color: #c2c0c0;
    background: #212529;
    border-right: 1px solid #484644;
}

.fluent-dark .sb-mobile-right-pane {
    background: #201F1E;
}

.fluent-dark .hljs-string,
.fluent-dark .hljs-title,
.fluent-dark .hljs-section,
.fluent-dark .hljs-attribute,
.fluent-dark .hljs-literal,
.fluent-dark .hljs-template-tag,
.fluent-dark .hljs-template-variable,
.fluent-dark .hljs-type,
.fluent-dark .hljs-addition,
.fluent-dark .e-icons.back-icon,
.fluent-dark .sb-plnr-section,
.fluent-dark .sb-bread-crumb,
.fluent-dark .sb-component-name,
.fluent-dark .sb-icon-Home,
.fluent-dark .description-header,
.fluent-dark .sample-navigation>button:hover,
.fluent-dark .sb-switch-popup li:first-child,
.fluent-dark .sb-left-pane .e-listview .e-list-group-item,
.fluent-dark .sb-icon-Hamburger:active,
.fluent-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text {
    color: #F3F2F1 !important;
}

.fluent-dark .sb-content-section,
.fluent-dark .sb-switch-popup .fluent-dark .sb-content-tab-header,
.fluent-dark .sb-content-section .sb-content-tab-header {
    background: #1b1a19;
    border-color: #484644;
}

.fluent-dark .sample-navigation>button:hover,
.fluent-dark .sb-plnr-section,
.fluent-dark .sb-icon-Popout:hover,
.fluent-dark .sb-icon-Hamburger,
.fluent-dark .sb-setting-translate,
.fluent-dark .sb-footer-links a,
.fluent-dark .description-section a {
    color: #1783ff;
}

.fluent-dark .sb-icon-Hamburger {
    color: #717171;
}

.fluent-dark .e-samplestatus.new, 
.fluent-dark .e-samplestatus.update, 
.fluent-dark .e-samplestatus.preview {
    margin: auto 0px;
}

.fluent-dark .e-samplestatus.update {
    background-color: #C28D42;
    border: 1px solid #C28D42 !important;
    color: #000000 !important;
}

.fluent-dark .e-samplestatus.preview {
    background-color: #5794E2 !important;
    color: #000000;
}

.fluent-dark .sb-theme-popup li:hover.active .sb-theme-select {
    color: #0d6efd;
}

.fluent-dark .sb-plnr-section {
    line-height: 30px;
    height: 40px;
}

.fluent-dark .sb-open-new-wrapper,
.fluent-dark .sample-navigation {
    line-height: 36px;
}

.fluent-dark code,
.fluent-dark .sb-switch-popup,
.fluent-dark .sb-setting-popup,
.fluent-dark .sb-search-result,
.fluent-dark .sb-src-code,
.fluent-dark .CodeMirror,
.fluent-dark .sb-api-section,
.fluent-dark .sb-theme-popup,
.fluent-dark .copy-tooltip,
.fluent-dark .e-icons.copycode,
.fluent-dark #search-input-wrapper input,
.fluent-dark #search-input-wrapper input::placeholder {
    color: #ffffff;
    background: #252423;
}

.fluent-dark .sb-theme-popup {
    color: #ffffff;
    background: #252423;
    border: 1px solid #484644;
}

.fluent-dark .sb-setting-popup {
    border: 1px solid #484644;
}

.fluent-dark .sb-property-border {
    border-right: 1px solid #484644;
}

.fluent-dark hr {
    border-top: 1px solid #484644;
}
.fluent-dark #themeMode-switch-btn:hover,
.fluent-dark .sb-search-btn:hover,
.fluent-dark .sb-search-btn.active,
.fluent-dark .sb-setting-btn:hover,
.fluent-dark .sb-setting-btn.active,
.fluent-dark .sb-switch-popup li:hover,
.fluent-dark .theme-wrapper:hover,
.fluent-dark .theme-wrapper.active,
.fluent-dark .sb-theme-popup li:hover,
.fluent-dark .sb-search-result .e-list-item:hover,
.fluent-dark .sb-left-pane .e-listview .e-list-item:hover,
.fluent-dark .sb-control-navigation .e-treeview .e-list-item.e-active>.e-fullrow {
    background-color: #323130;

}

.fluent-dark .sb-theme-studio {
    border: 1px solid #484644;
}

.fluent-dark .sb-theme-studio a {
    color: #0d6efd !important;
}

.fluent-dark .sb-toolbar-splitter {
    border-left: 1px solid #484644;
}

.fluent-dark .sb-setting-popup .sb-setting-header {
    border-bottom: 1px solid #484644;
}

.fluent-dark .sb-footer {
    border-top: 1px solid #484644;
}

.fluent-dark .sb-switch-popup {
    border: 1px solid #484644;
}

.fluent-dark .sb-theme-popup li.active .sb-theme-select {
    color: #0d6efd;
}

.fluent-dark .sb-left-pane .e-treeview .e-list-item.e-active>.e-fullrow {
    background-color: #292827;
    border: none;
}

.fluent-dark .sb-left-pane .e-treeview .e-list-item.e-active>.e-text-content .e-list-text {
    color: #f3f2f1;
}

.fluent-dark .setting-responsive .sb-responsive-items {
    width: 104px;
    background-color: #363636;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: table-cell;
    cursor: pointer;
}

.fluent-dark .setting-responsive .sb-responsive-items.active {
    background-color: #0d6efd;
    color: white;
}

.fluent-dark .sb-left-pane .e-listview .e-list-item.e-active,
.fluent-dark .cont,
.fluent-dark .sb-left-pane .e-treeview .e-list-item.e-hover>.e-fullrow,
.fluent-dark .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    background-color: #292827;
}

.fluent-dark .sb-left-pane .e-listview .e-list-item.e-active {
    color: #F3F2F1;
}

.fluent-dark .sb-left-pane .e-listview .e-list-item:hover {
    color: aliceblue;
}

.fluent-dark .control-name {
    color: #ffffff;
}

.fluent-dark .sb-left-pane,
.fluent-dark .sb-mobile-left-pane,
.fluent-dark .sb-body-overlay {
    background: #201F1E;
}

.fluent-dark .sb-mobilefooter>.e-btn.e-flat {
    background: #201F1E;
    color: #fff;
}

.fluent-dark .sb-mobilefooter>.e-btn.e-flat:hover {
    color: #0d6efd;
}

.fluent-dark .sb-header-text-left,
.fluent-dark .sb-header-text-right {
    color: #ffffff
}

.fluent-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item.e-active>.e-tab-wrap>.e-text-wrap>.e-tab-text,
.fluent-dark .sb-content-tab>.e-tab.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item>.e-tab-wrap>.e-text-wrap>.e-tab-text:hover,
.fluent-dark .sb-search-result .e-list-group-item {
    color: #0d6efd !important;
}

.fluent-dark .e-treeview .e-fullrow {
    border: 0px solid;
}

.fluent-dark .e-samplestatus.new.tree,
.fluent-dark .e-samplestatus.update.tree,
.fluent-dark .e-samplestatus.preview.tree {
    margin: 8px 0;
    height: 22px;
    margin-top: 7px;
}

.fluent-dark .sb-home-text {
    color:#ffffff !important;
}

.fluent-dark.e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    height: 35px;
    min-height: 35px;
}

.fluent-dark .sb-content-tab .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    height: 35px;
    margin: 0px 8px 0 0;
    min-height: 35px;
}

.fluent-dark .sb-content-tab .e-tab .e-tab-header .e-toolbar-items,
.fluent-dark .sb-content-tab .e-tab .e-tab-header {
    min-height: 35px;
    height: 35px;
}

.fluent-dark.e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    height: 35px;
    min-height: 35px;
}

.fluent-dark.e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-items {
    min-height: 35px;
    height: 35px;
}

.fluent-dark.e-bigger .sb-content-tab .e-tab .e-tab-header {
    min-height: 36px;
    height: 36px;
}

.fluent-dark.e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-item.e-active {
    margin-left: 0px !important;
}

.fluent-dark.e-bigger .sb-content-tab>.e-tab>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    display: none !important;
}

.fluent-dark.e-bigger .e-samplestatus.new,
.fluent-dark.e-bigger .e-samplestatus.update,
.fluent-dark.e-bigger .e-samplestatus.preview {
    margin-top: 4px;
    margin-bottom: 0px;
}
