.tailwind .copycode::before {
    content: '\e77c';
    font-size: 25px;
}

.tailwind .e-samplestatus.new.tree,
.tailwind .e-samplestatus.update.tree,
.tailwind .e-samplestatus.preview.tree {
    margin: 1px 0;
    height: 22px;
    margin-top: 8px;
}

.tailwind .e-samplestatus.new,
.tailwind .e-samplestatus.update,
.tailwind .e-samplestatus.preview {
    margin: 1px 0;
    height: 22px;
}